nav(class="navbar navbar-expand-md navbar-light bg-light", role="navigation")
  a.navbar-brand(href="/") Guessing
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent")
    span(class="navbar-toggler-icon")
  div(class="collapse navbar-collapse" id="navbarSupportedContent")
    ul(class="navbar-nav mr-auto")
      block nav-link-list