<!DOCTYPE html>
html(lang="en")
  include ../includes/mixins.pug
  include ../includes/head.pug
  body
    header
      include ../includes/navMain.pug 
    .aside.hero#hero.
      Welcome to Philip's Guess the Number Game. Can you guess the between 1 and 10?
    .container-lg
      block content
