extends ./layouts/main-layout.pug
block head-link-list
  +head-links([
    {href: '/stylesheets/css/history.css'}
    ])
block head-script-list
  +head-scripts([
    {src:'/javascripts/history.js'}
  ])
block nav-link-list
  +nav-links([
    {path: '/start', desc: 'Ready?'},
    {path: '/', desc: 'Home'}
    ])
block content
  main(role="main")
    h1.text-center.page-title Game History
    #history_tiles_wrapper
      #history_tiles
        each game, index in history
          +game-data-tile(game)
    #game_detail.hidden
      div(class="gameDetailContent")
        h2.text-center Game Detail
        p#date
        h3 Secret Number
        p#secret
        h3 # of Guesses
        p#num_guesses
        h3 Guesses
        ul#guesses.text-center
        a(href="#" id="history" class="btn btn-primary") History